<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="JP" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="css/swiper.css" type="text/css" />
    <link rel="stylesheet" href="css/dark.css" type="text/css" />
    <link rel="stylesheet" href="css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/animate.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/calendar.css" type="text/css" />


    <link rel="stylesheet" href="css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Document Title
    ============================================= -->
    <title>Computer Science | MiNI</title>

</head>

<body class="stretched no-transition">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
    <header id="header" class="transparent-header full-header" data-sticky-class="not-dark">

        <div id="header-wrap">

            <div class="container clearfix">

                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <!-- Logo
                ============================================= -->
                <div id="logo">
                    <a href="index.html" class="standard-logo" data-dark-logo="images/minilogo3.png"><img src="images/minilogo3.png" alt="Mini Logo"></a>
                    <a href="index.html" class="retina-logo" data-dark-logo="images/minilogo3.png"><img src="images/minilogo3.png" alt="Mini Logo"></a>
                </div><!-- #logo end -->

                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu">

                    <ul>
                        <li class="current"><a href="/"><div style="color: #1ABC9C !important">Home</div></a></li>
                        <li class="current"><a href="/calendar"><div style="color: #1ABC9C !important">Tests</div></a></li>
                        <li class="current"><a href="/"><div style="color: #1ABC9C !important">Semester III</div></a></li>
                        <li class="current"><a href="/"><div style="color: #1ABC9C !important">Semester II</div></a></li>
                    </ul>

                    <div id="top-cart">
                        <a href="https://drive.google.com/drive/folders/0B26umafYo8NlSkF5dnpJRkk5c1k?fbclid=IwAR3phuaEtXKMp4QAmQmS6ACeer7zh71iRKzkJUb42-9WnDdCUx1drBvitk0" target="_blank"  data-toggle="tooltip" data-placement="left" title="Master Drive"><i  style="color: #1ABC9C !important" class="icon-google-drive"></i></a>
                    </div>

                </nav><!-- #primary-menu end -->

            </div>

        </div>

    </header><!-- #header end -->

    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="events-calendar">
                    <div class="events-calendar-header clearfix">
                        <h2>Tests</h2>
                        <h3 class="calendar-month-year">
                            <span id="calendar-month" class="calendar-month">November</span>
                            <span id="calendar-year" class="calendar-year">2019</span>
                            <nav>
                                <span id="calendar-prev" class="calendar-prev" title="Prev month"><i class="icon-chevron-left"></i></span>
                                <span id="calendar-next" class="calendar-next" title="Next month"><i class="icon-chevron-right"></i></span>
                                <span id="calendar-current" class="calendar-current" title="Go to current date"><i class="icon-reload"></i></span>
                            </nav>
                        </h3>
                    </div>
                    <div id="calendar" class="fc-calendar-container"></div>
                </div>



            </div>

        </div>

    </section><!-- #content end -->

    <!-- Footer
    ============================================= -->
    <footer id="footer" class="dark">

        <div class="container">

            <!-- Footer Widgets
            ============================================= -->


        </div>

        <!-- Copyrights
        ============================================= -->
        <div id="copyrights">

            <div class="container clearfix">

                <div class="col_half col_last tright">
                    <div class="fright clearfix">
                        <a href="https://www.facebook.com/groups/csMiNI2018/" target="_blank" class="social-icon si-small si-borderless si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>
                    </div>

                    <div class="clear"></div>

                    <i class="icon-envelope2"></i> dupa@mini.pw.edu.pl <span class="middot">&middot;</span> <i class="icon-headphones"></i> 112 <span class="middot">&middot;</span> <i class="icon-skype2"></i> Mini
                </div>

            </div>

        </div><!-- #copyrights end -->

    </footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- Modals
============================================= -->
<div class="modal fade bs-example-modal-sm show" id="event-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-body">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="eventModalTitle"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <ul class="iconlist" id="eventList">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Templates
============================================= -->
<script id="event-template" type="text/x-handlebars-template">
    <li class="spost clearfix {{eventFirst}}"></li>
    <li><i class="icon-font1"></i> <span>{{eventName}}</span></li>
    <li><i class="icon-building2"></i> <span>{{eventBuilding}}</span></li>
    <li><i class="icon-door-open"></i> <span>{{eventRoom}}</span></li>
    <li><i class="icon-line-clock"></i> <span>{{eventTime}}</span></li>
</script>

<!-- External JavaScripts
============================================= -->
<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/hbs.js"></script>
<script src="js/jquery.calendario.js"></script>
<script src="js/custom/calendar.js"></script>

<!-- Footer Scripts
============================================= -->
<script src="js/functions.js"></script>

<script>

    var cal = $( '#calendar' ).calendario( {
                onDayClick : function( $el, $contentEl, dateProperties ) {

                    onDayClick($el, $contentEl, dateProperties);

                    // for( var key in dateProperties ) {
                    //     console.log( key + ' = ' + dateProperties[ key ] );
                    // }

                },
                caldata : canvasEvents
            } ),
            $month = $( '#calendar-month' ).html( cal.getMonthName() ),
            $year = $( '#calendar-year' ).html( cal.getYear() );

    $( '#calendar-next' ).on( 'click', function() {
        cal.gotoNextMonth( updateMonthYear );
    } );
    $( '#calendar-prev' ).on( 'click', function() {
        cal.gotoPreviousMonth( updateMonthYear );
    } );
    $( '#calendar-current' ).on( 'click', function() {
        cal.gotoNow( updateMonthYear );
    } );

    function updateMonthYear() {
        $month.html( cal.getMonthName() );
        $year.html( cal.getYear() );
    }

</script>

</body>
</html>